<div class="container-fluid">
    <h3>Create Task</h3>
    <HR/>
    <form (ngSubmit)="onSubmit()" #taskForm="ngForm">
      <br>
      <div class="form-group">
          <div class="row" *ngIf="successmsg">
              <p class="alert alert-success">
                  <strong>Success!</strong> New task is created!.
              </p>
          </div>
          <div class="row" *ngIf="errormsg">
              <p class="alert alert-danger">
                  <strong>Failure!</strong> task is not created!.
              </p>
          </div>
          <div class="row" *ngIf="isInValidDate">
            <p class="alert alert-danger">
                <strong>Error!</strong> Invalid Date!.
            </p>
        </div>
      </div>
      <div class="form-group">     
        <div class="row">
          <div class="col-md-2">
            <label for="task">Task Name</label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" id="task"
              required
              [(ngModel)]="task.task" name="task">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
            <div class="col-md-2">
              <label for="priority">Priority</label>
            </div>
            <div class="col-md-4">
              <input type="range" min="0" max="30" value="-1" class="form-control" id="priority"
                [(ngModel)]="task.priority" name="priority" required oninput="priorityOutputId.value = priority.value">
                <output name="priorityOutputName" id="priorityOutputId">{{-1}}</output>
            </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
            <div class="col-md-2">
              <label for="parentId">Parent Task</label>
            </div>
            <div class="col-md-4">
              <select class="form-control" id="parentId" name="parentId" required [(ngModel)]="task.parentId">
                <option *ngFor="let par of parent; let i = index" [value]="parent[i].parentId">
                  {{parent[i].parentTask}}
                </option>
              </select>
            </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
            <div class="col-md-2">
              <label for="startDate">Start Date</label>
            </div>
            <div class="col-md-4">
              <input type="date" class="form-control" id="startDate" data-date-format='YYYY-MM-DD'
                required
                [(ngModel)]="task.startDate" name="startDate" max="{{task.endDate}}">
            </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <label for="endDate">End Date</label>
            </div>
            <div class="col-md-4">
              <input type="date" class="form-control" id="endDate" data-date-format='YYYY-MM-DD'
                required
                [(ngModel)]="task.endDate" name="endDate" min="{{task.startDate}}" >
            </div>
  
        </div>
      </div>
      <div class="form-group">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn btn-success" [disabled]="!taskForm.form.valid">Submit</button>
              <button type="button" style="float:right;" class="btn btn-success" (click)="onReset()">Reset</button>
            </div>
        </div>
      </div>
    </form>
    <br>
  </div>